@import url("https://fonts.googleapis.com/css2?famil=Poppins:wght@400;500;600&display=swap");

body {
   font-family: 'Open Sans', sans-serif;
}

a, a:hover {
   text-decoration: none;
   color: #0D47A1;
}

button {
   border: none;
}

$firstcolor: #2196F3;
$secondcolor: #1565C0;
$titlecolor: hsl(244, 12%, 12%);
$textcolor: hsl(244, 4%, 36%);

.background_app {
   background: #d8d8d8;
   width: 100%;
   height: 100%;
   position: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
}

.dropdown-menu {
   padding: 0;
}

.dropdown-item.active,
.dropdown-item:active{
   background: $secondcolor;
}

.login__card {
   background-color: hsla(244, 16%, 92%,.6);
   border: 2px solid hsla(244, 16%, 92%, .75);
}

.login__title {
   // font-size: 1.25rem;
   color: $firstcolor;
   margin-bottom: .5rem;
}

.login_label {
   color: $titlecolor;
   font-size: .900rem;
   font-weight: 600;
   margin-bottom: .30rem;
}

.login__input {
   width: 100%;
   padding: 10px 12px;
   border-radius: 6px;
   border: 2px solid $textcolor;
   background-color: hsla(244, 16%, 92%,.6);
   color: $titlecolor;
   font-size: .900rem;
   font-weight: 500;
   transition: border .4s;
   
   &::placeholder{
      color: $textcolor;
   }

   &:focus,&:valid{
      border: 2px solid $firstcolor;
   }
}

.login__span {
   color: red;
   font-weight: 500;
   font-size: .700rem;
}

.login__buttons {
   display: flex;
   column-gap: .75rem;
}

.login__button {
   width: 100%;
   padding: 14px 2rem;
   border-radius: 6px;
   background: linear-gradient(180deg, $firstcolor, $secondcolor);
   color: white;
   text-align: center;
   font-size: .813rem;
   font-weight: 600;
   cursor: pointer;

   &:hover{
      box-shadow: 0 6px 24px #0D47A1;
   }
}

.login__button_border {
   background: hsla(244, 16%, 92%, .6);
   border: 2px solid $firstcolor;
   color: $firstcolor;
   box-shadow: none;
}